body {
  color: #444444;
  background-color: #f5f5f5;
  font-weight: bold;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
}

/* Navigation */
nav {
  display: grid;
  justify-content: right;
  padding: 0.25em;
}

nav > div:hover {
  color: #111111;
  cursor: pointer;
}

/* Homepage */
.rooms-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rooms-grid div {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.room-grid {
  display: grid;
  margin: 0 auto;
}

/* Room page */
.game-grid {
  display: grid;
  grid-template-areas:
    'board chat'
    'buttons buttons'
    'cards cards';
}

.chat {
  grid-area: chat;
  text-align: left;
  max-height: 550px;
  overflow: scroll;
}

.chat-action {
  font-size: 0.75em;
  font-weight: normal;
  font-style: italic;
  margin: 0;
}

/* Buttons */
.btn {
  color: #ffffff;
  border: none;
  border-radius: 5rem;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: #ffffff;
  box-shadow: inset 5em 5em rgb(0, 0, 0, 0.15);
}

.draw-btn {
  display: none;
}

.game-buttons {
  grid-area: buttons;
}

/* Board */
.game-board {
  grid-area: board;
  max-width: 550px;
  color: #111111;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
}

.cell {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  border: 2px solid #f5f5f5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cell:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.cell:hover {
  box-shadow: inset 5em 5em rgb(0, 0, 0, 0.15);
}

.cell:active {
  background-color: #888888;
}

.has-peg {
  cursor: not-allowed;
}

.last-played {
  border: 3px solid #111111;
}

/* Cards */
.cards-grid {
  grid-area: cards;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 550px;
}

.card-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 100%;
  height: 150px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card-cell:hover {
  transform: translateY(-10px);
}

/* Text input */
.username-input {
  border: 1px solid #cccccc;
  border-radius: 5em;
  padding: 0.375rem 0.75rem;
}

.username-input:focus {
  outline: none;
}

/* Colors  */
.blue {
  background-color: #1976d2;
}

.orange {
  background-color: #ff5722;
}

.teal {
  background-color: #00897b;
}

/* Mobile */
.mobile {
  display: none;
}

@media only screen and (max-device-width: 768px) {
  .game-grid {
    display: grid;
    grid-template-areas:
      'board'
      'buttons'
      'cards'
      'chat';
  }

  .game-board {
    margin: 0 auto;
  }

  .mobile {
    display: block;
  }

  .chat {
    display: none;
  }

  .cell:hover {
    box-shadow: none;
  }
}
