body {
  color: #444444;
  background-color: #f5f5f5;
  font-weight: bold;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
}

.rooms-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rooms-grid div {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.room-grid {
  display: grid;
  margin: 0 auto;
}

/* Buttons */
.btn {
  color: #ffffff;
  border: none;
  border-radius: 5rem;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: #ffffff;
  box-shadow: inset 5em 5em rgb(0, 0, 0, 0.15);
}

.draw-btn {
  display: none;
}

/* Board */
.game-board {
  max-width: 550px;
  color: #111111;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cell {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  border: 2px solid #f5f5f5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cell:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.cell:hover {
  box-shadow: inset 5em 5em rgb(0, 0, 0, 0.15);
}

.cell:active {
  background-color: #888888;
}

.has-peg {
  cursor: not-allowed;
}

/* Cards */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin: 20px;
}

.card-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 100%;
  height: 150px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card-cell:hover {
  transform: translateY(-10px);
}

/* Colors  */
.blue {
  background-color: #1976d2;
}

.orange {
  background-color: #ff5722;
}

.teal {
  background-color: #00897b;
}
