/* Buttons */
.btn {
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: inset 5em 5em rgb(0, 0, 0, 0.15);
}

/* Board */
.game-board {
  grid-area: board;
  max-width: 550px;
}

.cell {
  transition: all 0.3s ease-in-out;
}

.cell:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.cell:hover {
  box-shadow: inset 5em 5em rgb(0, 0, 0, 0.15);
}

.cell:active {
  background-color: #888888;
}

.has-peg {
  cursor: not-allowed;
}

.last-played {
  border: 3px solid #111111;
}

/* Cards */
.card-cell {
  transition: all 0.3s ease;
}

.card-cell:hover {
  transform: translateY(-10px);
}

/* Colors  */
.blue {
  background-color: #1976d2;
}

.orange {
  background-color: #ff5722;
}

.teal {
  background-color: #00897b;
}
